.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    /*border: 1px solid red;*/
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 320px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    /*position: relative;*/
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front .name {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 60px;
    left: 25%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.back-logo {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 160px;
    height: 117px;
}

.back p {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}

.banner {
    height: 200px;
    width: 100%;
    background: url('images/banner1.jpg') top right / cover #400080;
    /*color: white;*/
}

.projects-title {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.clock {
    background: url('images/clock.jpg') bottom right / cover #400080;
}

.clockBack {
    background: url('images/clock.gif') top right / cover #400080;
}

.yyParallax {
    background: url('images/yyParallax.png') bottom center / contain no-repeat #fff;
}

.yyParallaxBack {
    background: url('images/yyParallax.gif') bottom center / contain no-repeat #fff;
}

.iterationOne {
    background: url('images/iterationOne.PNG') bottom center / contain no-repeat #fff;
}

.iterationOneBack {
    background: url('images/iterationOne.gif') bottom center / contain no-repeat #fff;
}
.stormTrooper {
    background: url('images/updateStormTrooper.png') bottom center / cover no-repeat #fff;
}

.stormTrooperBack {
    background: url('images/stormTrooper.gif') bottom center / cover no-repeat #fff;
}

.firstCodePen {
    background: url('images/firstCodePen.png') bottom center / cover no-repeat #fff;
}

.firstCodePenBack {
    background: url('images/firstCodePen.gif') bottom center / cover no-repeat #fff;
}

.bootStrapMockup {
    background: url('images/bootStrapProject.png') bottom center / cover no-repeat #fff;
}

.bootStrapMockupBack {
    background: url('images/bootStrapMockUp.gif') top center / cover no-repeat #fff;
    background-size: 300px;
}

.ommmSpin {
    background: url('images/ommmSpin.png') bottom center / cover no-repeat #fff;
}

.ommmSpinBack {
    background: url('images/ommmSpin.gif') top center / cover no-repeat #fff;
    background-size: 330px;
}

.typingWithTribbles {
    background: url('images/typingWithTribbles.png') bottom center / cover no-repeat #fff;
}

.typingWithTribblesBack {
    background: url('images/typingWithTribbles.gif') top center / cover no-repeat #fff;
}

.ommmSweetommm {
    background: url('images/ommmSweetommm.png') bottom center / cover no-repeat #fff;
}

.ommmSweetommmBack {
    background: url('images/ommmSweetommm.gif') top center / cover no-repeat #fff;
}


.blog {
    background: url('images/blog.png') bottom center #46B6AC;
}

img.yy {
    height: 35px;
    width: 35px;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
}

.demo-card-wide.mdl-card {
    width: 500px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mdl-mega-footer {
    height: 275px;
}

.border {
    /*border: 1px solid red;*/
    /*display: flex;*/
    border-radius: 2px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding-bottom: 100px;
    /*margin-bottom: 150px;*/
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .5s ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    /*width: calc(33.3333333333% - 16px);*/
    /*box-sizing: border-box;*/
    margin: 0 auto;
    /*margin-bottom: 50px;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    display: block;
    padding: 0 .5em;
    /*color: #666;*/
    /*font-size: .9em;*/
    /*line-height: 2;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: .25em;*/
    /*display: flex;*/
    /*margin: auto;*/
    /*margin: -25px auto 0 0;*/
    /*align-content: center;*/
    /*justify-content: space-around;*/
}

/* Other style */
/*body {*/
    /*padding: 2%;*/
/*}*/

/*p {*/
    /*padding: 2%;*/
    /*background: #fff9c6;*/
    /*color: #c7b27e;*/
    /*border: 1px solid #fce29f;*/
    /*border-radius: .25em;*/
/*}*/

/*:root {*/
/*--base: #ffc600;*/
/*--height: 10em;*/
/*--width: 8em;*/
/*--size: 110px;*/
/*--spacing: 10px;*/
/*--blur: 10px;*/
/*}*/

/*.featured,*/
/*.about,*/
/*.demo-card-wide.mdl-card.well,*/
/*.projects,*/
/*.codepen,*/
/*.twitter {*/
/*margin: 0;*/
/*padding: 0;*/
/*display: flex;*/
/*min-height: calc(100vh - 100px);*/
/*overflow: hidden;*/
/*text-align: center;*/
/*align-content: center;*/
/*width: 100%;*/
/*height: 751px;*/
/*}*/

/*img.featured {*/
/*width: 100%;*/
/*z-index: -1;*/
/*}*/

/*.button-box {*/
/*display: flex;*/
/*flex-direction: column;*/
/*height: 70px;*/
/*width: 100%;*/
/*bottom: 20px;*/
/*margin: 2% 50%;*/
/*position: absolute;*/
/*}*/

/*.button-box > button {*/
/*margin: 5px;*/
/*}*/

/*.left {*/
/*z-index: 6;*/
/*left: 20px;*/
/*margin-top: 50%;*/
/*position: fixed;*/
/*}*/

/*.right {*/
/*z-index: 6;*/
/*right: 36px;*/
/*margin-top: 50%;*/
/*position: fixed;*/
/*}*/

/*.middle {*/
/*z-index: 6;*/
/*margin-top: 50%;*/
/*position: fixed;*/
/*}*/

/*.demo-card-wide.mdl-card.well {*/
/*width: 100%;*/
/*}*/

/*!*@media (min-width: 840px)*!*/
/*.mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {*/
/*width: calc(100% - 16px);*/
/*}*/

/*.hl {*/
/*color: var(--base);*/
/*}*/

/*a {*/
/*color: var(--base);*/
/*text-decoration: none;*/
/*}*/

/*.demo-card-wide.mdl-card {*/
/*width: 512px;*/

/*}*/

/*.demo-card-wide > .mdl-card__title {*/
/*color: #fff;*/
/*height: 176px;*/
/*background: url('images/clock.jpg') center / cover;*/
/*}*/

/*.demo-card-wide > .mdl-card__menu {*/
/*color: #fff;*/
/*}*/



